body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: #ffe6e6;
}

.container{
    background-color: rgb(243, 219, 189);
    padding:25px 20px;
    border-radius: 15px;
    width:350px;
    text-align: center;
}

.input{
   width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

 .a,.b {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

.btn {
  display: inline-block;
  background-color: rgb(232, 172, 93);
  color: white;
  padding:10px;
  margin: 5px ;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  border-color: white;

}

.btn:hover {
   background-color: rgb(224, 153, 130);
}












