.container{
    background-color: rgb(243, 219, 189);
    padding:30px;
    border-radius:  15px;
    width:350px;
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: #ffe6e6;
}

h1{
    color:#5a351e;
    margin :20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box{
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    padding:10px;
    margin: 2px ;
    width: 270px;
    border-radius: 70px;
    background-color: #e2c59c;
    color: white;
}
