* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f8f3ef;
  color: #3e2f24;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 70px;
  background-color: #efe2d1;
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 40px;
  height: 40px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #3e2f24;
  font-weight: 500;
}

nav ul li a.active {
  border-bottom: 2px solid #3e2f24;
}

.login, .register {
  border: 1px solid #3e2f24;
  padding: 5px 12px;
  border-radius: 5px;
}

.register {
  background-color: #3e2f24;
  color: #fff;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
  background-color: #d7c6b6;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 2.5rem;
}

.hero-text h1 span {
  color: #7c4b2c;
}

.hero-text p {
  margin: 20px 0;
  line-height: 1.5;
}

.hero-buttons .btn, .btn-outline {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.btn {
  background-color: #7c4b2c;
  color: white;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #7c4b2c;
  color: #7c4b2c;
}

/* How It Works */
.how-it-works {
  text-align: center;
  padding: 60px 20px;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
}

.step {
  width: 250px;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #7c4b2c;
  border-radius: 50%;
  margin: 0 auto 10px;
}

/* Pets */
.pets {
  text-align: center;
  padding: 60px 20px;
}

.pet-types {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 20px;
}

.pet-type img {
  width: 80px;
  margin-bottom: 10px;
}

/* Offer */
.offer {
  text-align: center;
  background-color: #d7c6b6;
  padding: 70px 20px;
  position: relative;
}

.offer-items {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.offer-item {
  background: #f3ece6;
  padding: 15px 25px;
  border-radius: 15px;
}

.offer-dog {
  width: 180px;
  margin-top: 30px;
}

/* Footer */
footer {
  background-color: #3e2f24;
  color: #fff;
  padding: 40px 60px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-right ul {
  list-style: none;
}

.footer-right ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 1.8;
}

.social-icons a {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

footer p {
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.8;
}
